.container {
  display: flex;
  justify-content: center;
  min-width: 100vw;
  min-height: 60vh;
}

/*
========================================================================================================



              ############################## MEDIA QUERIES  ##############################



========================================================================================================

*/

@media screen and (min-width: 320px) {
  .wrapper {
    margin: 1rem;
  }
}

@media screen and (min-width: 480px) {
  .container {
  }
}
@media screen and (min-width: 768px) {
  .container {
  }
}

@media screen and (min-width: 1024px) {
  .container {
  }
}
@media screen and (min-width: 1200px) {
  .container {
  }
}
